doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1,maximum-scale=1.0; user-scalable=no')
        title Counting
        link(rel="stylesheet", href="../Assets/Css/Base.css")
        //- script(src="https://use.fontawesome.com/e9a633f963.js")
    body
        header
            .bg-header
                    .cointainer
                    .container
                        nav.navbar.navbar-default#navbar
                            .navbar-header
                              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#col', aria-expanded='false')
                                span.sr-only Toggle navigation
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar  

                            a.navbar-brand(href='#') College
                            #col.collapse.navbar-collapse
                              ul.nav.navbar-nav.navbar-right
                                li
                                  a.hvr-underline-from-center(href='departments.html') Departments
                                li
                                  a.hvr-underline-from-center(href='#about-us') About Us
                                li
                                  a.hvr-underline-from-center(href='#contact-us') Contact Us
                                li
                                  a.hvr-underline-from-center(href='#') Hire Us
                                li
                                  a.hvr-underline-from-center(href='#') Buy Us

                        .header-content
                            .text-wrap
                                .text-inner
                                  .row
                                    .col-md-8.col-md-offset-2
                                      h1  Lorem ipsum.
                                      h2  Lorem.
                .slant
        
        section#info
            .container
                .row
                    .col-md-4.text-center
                        .glyphicon.glyphicon-cloud
                        h2 Plan
                        p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ut est voluptatibus laudantium, temporibus omnis tenetur porro vero commodi odio?
                        p
                            input.btn.btn-custom(type="button" value="Click Me")
                    .col-md-4.text-center
                        .glyphicon.glyphicon-cloud
                        h2 Plan
                        p    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ut est voluptatibus laudantium, temporibus omnis tenetur porro vero commodi odio?
                        p
                            input.btn.btn-custom(type="button" value="Click Me")
                    .col-md-4.text-center
                        .glyphicon.glyphicon-cloud
                        h2 Plan
                        p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cum ducimus id, ullam odio numquam. Voluptatem, atque, dolore! Beatae, laboriosam.
                        p
                            input.btn.btn-custom(type="button" value="Click Me")
        
        section#about-us
            .container
                h2.text-center.underline About us
                .row
                    .col-md-12
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus modi eveniet molestiae ullam, sapiente maxime animi saepe id, atque quasi tempore veritatis! Molestias asperiores, voluptate quo quam, ex ipsa natus. Excepturi distinctio nostrum voluptas odio magni ullam, in deserunt sapiente. Cumque quos consequatur, voluptatibus veniam nemo inventore doloremque omnis magnam natus vel suscipit recusandae totam repellendus sed porro, reiciendis mollitia, magni voluptas in et maxime laboriosam quasi hic. Eos nostrum sequi suscipit error, est officia!
            .container.two
                .row
                    .col-xs-12.col-xs-offset-2.5.text-center
                        .col-xs-4
                            h1(class="timer" data-from="0" data-to='1985' data-speed="4000" data-refresh-interval="10")
                            h3.bg-caption-left Established
                        .col-xs-4
                            h1(class="timer" data-from="0" data-to='13' data-speed="2000" data-refresh-interval="10")
                            span  Ac
                            h3.bg-caption-right Area
           
        section#principle     
            .container
                .ui.centered.card#card
                    .image
                        img(src="../Assets/Img/principle.png", alt="")
                    .content
                        p.header Mr. Lorem Ipsum 
                .row
                    h1.text-center Principle Message
                    .col-sm-12
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos reprehenderit atque culpa iste veritatis amet excepturi. Natus eligendi corrupti, suscipit provident voluptatum perspiciatis sapiente qui, earum maxime a, ea est! 
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat deserunt voluptatibus nam. Saepe rem consequuntur officia temporibus modi cupiditate est quis voluptates voluptatum perspiciatis itaque, consectetur quidem enim aspernatur distinctio repudiandae similique commodi, odit perferendis in laborum neque ad. At dolor itaque recusandae, consequatur maiores.
                        p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia esse similique debitis illo nemo sunt. Necessitatibus neque repudiandae nobis dolor esse perspiciatis.       
                    h1.text-center Mission And Vision
                    .col-sm-12
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos reprehenderit atque culpa iste veritatis amet excepturi. Natus eligendi corrupti, suscipit provident voluptatum perspiciatis sapiente qui, earum maxime a, ea est! 
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat deserunt voluptatibus nam. Saepe rem consequuntur officia temporibus modi cupiditate est quis voluptates voluptatum perspiciatis itaque, consectetur quidem enim aspernatur distinctio repudiandae similique commodi, odit perferendis in laborum neque ad. At dolor itaque recusandae, consequatur maiores.
                        p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia esse similique debitis illo nemo sunt. Necessitatibus neque repudiandae nobis dolor esse perspiciatis.  
        
        section#contact-us
            .container
                .row
                    .col-xs-12.text-center
                        h1 Contact Us
                    form.awesome-form.col-md-6
                          .input-group.col-xs-12
                            input(type='text')
                            label Name

                          .input-group.col-xs-12
                            input(type='email')
                            label  Email 

                          .input-area.col-xs-12
                            textarea
                            label Message


                          button(type='submit') Submit
                    .col-md-5.font-details
                            .address 
                                p Nagewadi, Aurangabd Road, Jalna 431 203
                            .tel
                                p
                                    a(href="tel:8149306224") 0240-235645
                            .fax 
                                p 123456789
                            .email
                                p 
                                    a(href="mailto:info@info.in") info@info.in
            .container-fluid.map

        footer
            .container-fluid.text-center
                h2  Lorem ipsum
                .footer-links
                    a(href="#") About Us
                    a(href="#") Departments
                    a(href="#") Contact Us

                            




                                  


    script(src="../Assets/Scripts/1-libraries/jquery2.min.js")
    script(src="../Assets/Scripts/1-libraries/bootstrap.min.js")
    script(src="../Assets/Scripts/1-libraries/bootstrap.min.js")
    script(src="../Assets/Scripts/1-libraries/semantic.min.js")
    script(src="../Assets/Scripts/1-libraries/jquery.countTo.js")
    script(src="../Assets/Scripts/1-libraries/smoothscroll.js")
    script(src="../Assets/Scripts/functions.js")
    script
        $('.timer').countTo();

        


